<template>
<div id="container">
    <p class="titleCustom">{{ note }}<v-icon class="titleCustomIcon" v-if="moyenne">mdi-star</v-icon></p>
    <span>{{ label }}</span>
</div>
</template>

<script>
export default {
    methods: {
        maMethode () {
            console.log(this.rating)
        }
    },
    props: ['note', 'label', 'moyenne']
}
</script>

<style scoped>
#container
{
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
span
{
    font-size: 24px;
    text-align: left;
}

.titleCustom
{
    font-size: 150px !important;
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-end !important;
    height: 150px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.25);
    line-height: 100px;
}

.titleCustomIcon
{
    font-size: 45px !important;
    color: rgba(255, 255, 255, 0.25) !important;
}
</style>