<template>
  <div id="container">
    <h2 font-size="">Écoles les mieux notées :</h2>
    <table>
  <tr>
    <th v-for="header in headers" :key="header">{{ header }}</th>
  </tr>
  <tr v-for="item in schools">
    <td>{{ item.siret }}</td>
    <td>{{ item.score }}</td>
  </tr>
  </table>
</div>
</template>

<script>
import axios from 'axios'

export default {
    props : {
        headers : {
            type: Array,
            default: []
        }, 
        schools: {
            type: Array,
            default: [],
        }
    }
}
</script>

<style>
#container
{
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#dataCustomArray
{
    height: 100%;
    width: 100%;
}

table
{
    width: 100%;
    text-align: left;
}

h2
{
    font-weight: 400;
    font-size: 24px;
}
</style>